body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

.user .message {
  background-color: #3399ff;
}

.message {
  border-radius: 25px;
  color: white;
  width: auto;
  padding: 15px;
}

.user {
  text-align: right;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.buddy {
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.buddy .message {
  background-color: #d9d9d9;
}

.author {
  color: #d9d9d9;
}

.viewport {
  border-color: gray;
  border-radius: 3px;
  border-right: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
}

.viewport a {
  display: block;
  width: auto;
  padding: 10px;
  border-radius: 2px;
  margin-bottom:
}

a:hover {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

#text {
  margin-left: 0px;
  width: 83vw;
  height: 42px;
}

#send {
  margin-top: 10px;
  width: 17vw;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #3399ff;
  border-radius: 3px;
  border: 1px solid #3399ff;
}

.option {
  color: white;
  border: 1px solid white;
  background-color: transparent;
  z-index: 1;
}
