body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 75px;
  font-family: 'Lato', sans-serif;
  margin-top: 0;
}

#login {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 3px;
  width: 300px;
  height: 30px;
  padding: 14px;
  margin: 15px;
  position: relative;
  top: 30px;
}

#log {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 3px;
  width: 300px;
  height: 30px;
  padding: 14px;
  margin: 15px;
  position: relative;
  top: 30px;
}

#cancel {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 3px;
  width: 300px;
  height: 30px;
  padding: 14px;
  margin: 15px;
  position: relative;
  top: 30px;
}

#sign {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 3px;
  width: 300px;
  height: 30px;
  padding: 14px;
  margin: 15px;
  position: relative;
  top: 30px;
}

#create {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 3px;
  width: 300px;
  height: 30px;
  padding: 14px;
  margin: 15px;
  position: relative;
  top: 30px;
}

.loginbutton {
  display: inline;
}

.login {
  width: 100vw;
  height: 100vh;
  background-image: url("loginpic.jpg");
  background-size: 100vw auto;
  display: block;
  color: white;
}

.sign {
  width: 100vw;
  height: 100vh;
  background-image: url("loginpic.jpg");
  background-size: 100vw auto;
  display: block;
  color: white;
}

.sign p{
  margin: auto;
  margin-top: 10px;
}

.sign input{
  margin: auto;
  width: 500px;
  display: block;
}

.login p{
  margin: auto;
  margin-top: 10px;
}

.login input {
  margin: auto;
  width: 500px;
  display: block;
}

.signchild {
  margin: auto;
  text-align: center;
  padding-top: 50px;
  display: block;
}

.loginchild {
  margin: auto;
  text-align: center;
  padding-top: 50px;
  display: block;
}

.loginlogo {
  margin: auto;
  width: 200px;
  height: auto;
  display: block;
}

.user .message {
  background-color: #ff314f;
  text-align: right;
  margin-right: 0px;
  margin-left: auto;
  border: 0px solid #d9d9d9;
}

.passalert {
  background-color: transparent;
  border-color: #ff314f;
  border-width: 2px;
  color: white;
  text-align: center;
}

.message p {
  margin-bottom: 0px;
}

.message {
  border-radius: 15px;
  color: white;
  padding: 5px;
  max-width: 70vw;
  display: inline-block;
  border: 1px solid #d9d9d9;
}

.line {
  border-top: 1px solid #d9d9d9;
}

.user {
  display: block;
  text-align: right;
  margin-top: 5px;
  margin-bottom: 5px;
}

.buddy {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.buddy .message {
  background-color: #4d4d4d;
  border: 0px solid #d9d9d9;
}

.author {
  color: #808080;
}

.viewport {
  border-color: gray;
  border-right: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  max-height: 80vh;
  overflow: scroll;
}

.viewport a {
  display: block;
  width: auto;
  padding: 10px;
  border-radius: 2px;
}

#subject {
  font-weight: bold;
  font-size: 20px;
}

.chat .icon {
  width: 3vw;
  height: auto;
}

a:hover {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

#text {
  margin-top: 0;
  margin-left: 0px;
  width: 100%;
  height: 100%;
}

#send {
  margin-top: 0px;
  width: 15px;
  padding: 15px;
  color: #ff314f;
  border: 1px solid #ff314f;
}

#exit {
  margin-top: 0px;
  width: 15vw;
  padding: 15px;
  color: #ff314f;
  border: 1px solid #ff314f;
}

.option {
  color: white;
  border: 1px solid white;
  background-color: transparent;
  z-index: 1;
}

#buttondiv {
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

input[type="text"] {
  box-shadow: none;
  color: white;
  outline: none;
  background-color: transparent;
  padding: 10px;
  border: none;
  border-bottom: solid 2px white;
  transition: border 0.3s;
}

input[type="text"]:focus,
input[type="text"].focus {
  outline: none !important;
  color: white;
  background-color: transparent;
  border-bottom: solid 2px #ff314f;
}

input[type="password"] {
  box-shadow: none;
  color: white;
  outline: none;
  background-color: transparent;
  padding: 10px;
  border: none;
  border-bottom: solid 2px white;
  transition: border 0.3s;
}

input[type="password"]:focus,
input[type="password"].focus {
  outline: none !important;
  color: white;
  background-color: transparent;
  border-bottom: solid 2px #ff314f;
}

.chat input[type="text"] {
  color: black;
  background-color: transparent;
  padding: 10px;
  border: none;
  border-bottom: solid 2px gray;
  transition: border 0.3s;
}

.chat input[type="text"]:focus,
.chat input[type="text"].focus {
  color: black;
  background-color: transparent;
  border-bottom: solid 2px #ff314f;
}

.menu {
  width: 100vw;
  height: 100vh;
}

input:focus, textarea:focus {
    outline: none;
}

.menuheader {
  color: white;
  text-align: center;
  background-image: url("loginimage.jpg");
  background-size: 100vw auto;
  width: 100vw;
  height: 30vh;
}

.menuheader h1 {
  color: white;
  margin-left: 30px;
  padding-top: 50px;
}

.bar {
  position: absolute;
  top: 20vh;
  width: 100vw;
  height: 10vh;
  text-align: right;
  background-image: url("gradient.png");
}

.status {
  text-align: left;
}

.title {
  display: block;
  color: black;
}

.members {
  display: block;
  color: gray;
}

.chatbar {
  text-align: left;
  border-bottom: 1px solid gray;
  padding-top: 10px;
  padding-bottom: 10px;
}

.icon {
  height: auto;
  width: 5vw;
}

.conversations .icon {
  margin-left: 20px;
}


.conversations {
  position: absolute;
  top: 30vh;
  width: 100%;
}

td {
  padding: 20px;
}

.chat td {
  padding: 0px;
}

.topbar {
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 10px;
}
